@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: #ffe401;
}

.title{
    color: #184e78;
    text-align: center;
    margin-bottom: 0;
    margin-left: 100px;
    text-shadow: 5px 0 0 #c53e47;
}

.main{
    display: flex;   
    justify-content: flex-start; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra verticalmente */
    gap: 10px;  /*Espaciado entre elementos */
    height: 100vh; /* Ocupa toda la pantalla */    
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    padding-left: 100px;
}

.btn{
    padding: 15px 20px;
    font-size: 10px;
    width: 200px;
    border: none;
    cursor: pointer;
    background-color: #184e78;
    color: white;
    border-radius: 1px;
    box-shadow: 5px 5px 0 #c53e47;
    font-family: "Press Start 2P", system-ui;
}

.btn:hover{
    transform: translateY(-5px);
}

.input-container {
    display: flex;
    align-items: center; /* Alinea el input y el label en el mismo nivel */
    gap: 5px; /* Espaciado entre el input y el label */
}

#input {
    width: 60px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    font-family: "Press Start 2P", system-ui;
}

.sketchContainer{
    display: flex;
    flex-wrap: wrap;
    width: 500px; /* Tamaño fijo para evitar que se agrande demasiado */
    height: 500px; /* Asegura una proporción cuadrada */
    background-color: #fcf4f1;
    border: 3px outset #333;    
    flex-shrink: 0; /* Evita que se reduzca si el espacio es limitado */
    margin-left: 100px;
}

.square{      
    width: calc(100% / 16); /* 16 columnas */
    height: calc(100% / 16); /* 16 filas */
    text-align: center;
}

.square-change{
    background-color: blue;
}
