body{
    background-color: #D2D4DA;
}

.title{
    text-align: center;
}

.divContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    width: 50%; /* Se adapta al contenedor */
    aspect-ratio: 1 / 1; /* Mantiene la proporción cuadrada */
    margin-left: auto;
    margin-right: auto;
    /* box-sizing: border-box; */
    background-color: #f3f4f8;
    box-shadow: 5px 5px 10px gray;
}

.square{      
    width: calc(100% / 16); /* 16 columnas */
    height: calc(100% / 16); /* 16 filas */
    text-align: center;
}

.square-change{
    background-color: blue;
}